{% extends "dashboard/base.html" %}
{% load i18n %}
{% block content%}

<h1>{% trans 'Styles' %}</h1>

<h2>{% trans 'General Styles' %}</h2>
<div class="d-flex flex-wrap">
{% for style in general_styles %}
<div class="style-card m-2 p-3">
<p class="title">{{style.short_description}}</p>
<p class="content">{{style.long_description}}</p>
<div class="actions">
    <a>{% trans 'Edit'%}</a>
    <a>{% trans 'Delete' %}</a>
    <a>{% trans 'Favorite' %}</a>

</div>
</div>
{% endfor %}
</div>
<h2>{% trans 'Your styles'%}</h2>

<div class="d-flex flex-wrap">
    {% for style in member_styles %}
    <div class="style-card m-2 p-3">
    <p class="title">{{style.short_description}}</p>
    <p class="content">{{style.long_description}}</p>
    <div class="actions">
        <a>{% trans 'Edit'%}</a>
        <a>{% trans 'Delete' %}</a>
        <a>{% trans 'Favorite' %}</a>
    
    </div>
    </div>
    {% endfor %}
    </div>

{% endblock%}