{% extends "dashboard/base.html" %}
{% load i18n %}
{% block content%}

<h1>{% trans 'Styles' %}</h1>

<h2>{% trans 'General Styles' %}</h2>
<div class="d-flex flex-wrap">
{% for style in general_styles %}
<div class="style-card m-2 p-3">
<p class="title">{{style.short_description}}</p>
<p class="content">{{style.long_description|safe}}</p>
<div class="d-flex flex-row">
    <a href="{% url 'edit-style' style.id %}" class="icon-button ms-2 text-center dark-color">
        <i class="fa-solid fa-pen-to-square"></i>
        <p class="small">{% trans 'Edit' %}</p>
    </a>
    
   

</div>
</div>
{% endfor %}
</div>
<h2>{% trans 'Your styles'%}</h2>

<div class="d-flex flex-wrap">
    {% for style in member_styles %}
    <div class="style-card m-2 p-3">
    <p class="title">{{style.short_description}}</p>
    <p class="content">{{style.long_description|safe}}</p>
    <div class="d-flex flex-row">
    <a href="{% url 'edit-style' style.id %}" class="icon-button ms-2 text-center dark-color">
        <i class="fa-solid fa-pen-to-square"></i>
        <p class="small">{% trans 'Edit' %}</p>
    </a>
    <a href="{% url 'delete-style' style.id %}" class="icon-button ms-2 text-center darkest-color">
        <i class="fa fa-trash"></i>
        <p class="small">{% trans 'Delete' %}</p>
    </a>
   

</div>
    </div>
    {% endfor %}
    </div>

{% endblock%}