{% extends 'dashboard/base.html'%}
{% load i18n %}

{% block title%}{% trans 'Define style from reference' %} {% endblock%}

{% block content %}

{% include 'classifieds/loading.html' %}

<!-- Form -->
<div class="d-flex align-items-center justify-content-center vh-90">
  <form class="kform kform-large" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <p class="title">{% trans 'Define a style from a text' %}</p>
    
      

      <p class="label mt-3">{% trans "Paste a text here and we analyze its style for you !" %}</p>
    
      {{form.text}}

 
        
      
      <button class="submit trigger-loader" type="submit">{% trans 'Submit' %}</button>
      <div class="text-center">
        <a href="{% url 'add-style' %}" class="mid-color">{% trans 'Cancel' %}</a>
      </div>
  </form>
</div>



{% endblock %}