{% extends 'dashboard/base.html'%}
{% load i18n %}

{% block title%}{% trans 'Simple update' %} {% endblock%}

{% block content %}
<!-- Form -->
<div class="d-flex align-items-center justify-content-center vh-90">
  <form class="kform" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <p class="title">{% trans 'Add a style from text' %}</p>
    
      

      <p class="label mt-3">{% trans "Paste a text here and we analyze its style for you !" %}</p>
    
        <textarea name="text" cols="40" rows="5" placeholder={% trans "Paste here" %} id="id_classified">
</textarea>

 
        
      
      <button class="submit" type="submit ">Submit</button>
      <div class="text-center">
        <a href="/en/dashboard/" class="mid-color">Cancel</a>
      </div>
  </form>
</div>



{% endblock %}