{% extends 'dashboard/base.html'%}
{% load i18n %}

{% block title%}{% trans 'Simple update' %} {% endblock%}

{% block content %}
<!-- Form -->
<div class="d-flex align-items-center justify-content-center vh-90">
  <form class="kform" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <p class="title">{% trans 'Simple update' %}</p>

      <select class="form-select" name="style">
        <option selected value="{{classified.style.pk}}">{% trans "Same style" %} ({{classified.style}})</option>
        {% for style in styles %}
        <option value="{{style.pk}}">{{style.short_description}}</option>
        {% endfor %}
      </select>

      <a href="#">{% trans 'Add style' %}</a>

 
        
      
      <button class="submit" type="submit ">Submit</button>
      <div class="text-center">
        <a href="/en/dashboard/" class="mid-color">Cancel</a>
      </div>
  </form>
</div>



{% endblock %}