{% extends 'dashboard/base.html'%}
{% load i18n %}

{% block title%}{% trans 'Add Home' %} {% endblock%}

{% block content %}
<!-- Form -->
<div class="d-flex align-items-center justify-content-center vh-90">
  <form class="kform" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% if login_form.non_field_errors %}
                <ul class='form-errors'>
                    {% for error in login_form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
    <p class="title">{% trans 'Add Home' %}</p>
    
      {{form.name}}

      {{form.surface}}

      {{form.price}}
    
       

 
        
      
      <button class="submit" type="submit ">Submit</button>
      <div class="text-center">
        <a href="{% url 'dashboard' %}" class="mid-color">Cancel</a>
      </div>
  </form>
</div>



{% endblock %}