{% extends 'dashboard/base.html'%}
{% load i18n %}

{% block title%}{% trans 'Simple update' %} {% endblock%}

{% block content %}

{% include 'classifieds/loading.html' %}
<!-- Form -->
<div class="d-flex align-items-center justify-content-center vh-90">
  <form class="kform" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <p class="title">{% trans 'Simple update' %}</p>
    
      <input type="text" name="style" placeholder="Style" maxlength="100" id="id_name">

      <p class="label mt-3">{% trans "Paste the classified's description you want to change: " %}</p>
    
        <textarea name="text" cols="40" rows="5" placeholder={% trans "Paste here" %} id="id_classified">
</textarea>

 
        
      
      <button class="submit" type="submit " class="trigger-loader">{% trans 'Submit' %}</button>
      <div class="text-center">
        <a href="/en/dashboard/" class="mid-color">{% trans 'Cancel' %}</a>
      </div>
  </form>
</div>



{% endblock %}