{% extends "dashboard/base.html" %}
{% load i18n%}

{% block content %}
{% include 'classifieds/loading.html' %}

<h1 class="text-center">{% trans 'Corrections' %}</h1>

{% comment %} <h3>{% trans 'Original text' %}</h3>
<p style="white-space: pre-line;">{{text1|safe}}</p>

<h3>{% trans 'Corrections' %}</h3>

<div class="mt-2" style="white-space: pre-line;">{{classified.corrections}}</div> {% endcomment %}
<div class="large-card bg-white rounded-4 p-sm-5 my-3 shadow">
  <h3>{% trans 'Corrected text' %}</h3>

  <div class="mt-2" style="white-space: pre-line;">{{visit.text|safe}}</div>
</div>
<div class="d-flex justify-content-center mt-2">
  <a href="{% url 'home-detail' visit.home.slug%}" class="btn btn-rounded btn-mid btn-brand-color me-2">{% trans 'Keep this corrected text' %}</a>
  <a href ="{% url 'edit-visit' visit.slug %}" class="btn btn-rounded btn-mid btn-brand-color ms-2">{% trans 'Edit the corrected text' %}</a>
</div>
{% endblock %}