

/* Layout */

#dashboard-page {
  background-color: var(--lightest-color);
  padding:0px !important;
  min-height: 100%;
}

main {
  padding:20px !important;
}

@media screen and (min-width: 1025px) {
  main {
    padding:50px !important;
  }
}

/* Sidebar */
#sidebar{
  background-color: var(--darkest-color) !important;
}
img#sidebar-logo {
  width:40px;
}

.nav-link:focus{
  color:var(--mid-color) !important;
}

@media  screen and (max-width:767px) {
  #sidebar {
    height: 55px;
  }
}

/* Buttons */

.button-card {
  width:300px;
}

@media screen and (min-width:768px) {
.button-card {
  width:450px;
}
}

